/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   Resets
   ========================================================================== */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    background-color: #3B50A1;
}
/* ==========================================================================
   Main Container
   ========================================================================== */
#container {
    background: #CAD2D8;
    -webkit-box-shadow: 0px 0px 50px -2px rgba(41,41,41,0.85);
    -moz-box-shadow: 0px 0px 50px -2px rgba(41,41,41,0.85);
    box-shadow: 0px 0px 50px -2px rgba(41,41,41,0.85);
    max-width: 90%;
    margin: 0 auto;
}

/* ==========================================================================
   Instagram Gallery
   ========================================================================== */
#ig-masonry-con {
    position: relative;
    overflow: hidden;
    margin: 25px 0 25px;
}
.ig-masonry-brick {
    float: left;
    text-align: center;
    width: 20%;
    padding: 0 2px;
}
.ig-masonry-brick a {
    display: block; /*to fill out display/link to full area*/
}
.ig-masonry-brick img {
    border: 0; /*prevent IE9 (and earlier) from displaying a border around the image.*/
    width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1024px) {
    .ig-masonry-brick {
        width: 25%;
    }
}
@media (max-width: 768px) {
    .ig-masonry-brick {
        width: 33.33%;
    }
}
@media (max-width: 480px) {
    .ig-masonry-brick {
        width: 100%;
    }
}